.indvCard {
    background-color: rgb(221, 221, 221);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5rem 1rem;
    padding: 0.5rem 0rem;
    font-size: 22px;
    text-align: center;
}

.indvCard button {
    background: rgb(221, 221, 221);
    color: rgb(240, 84, 84);
    border: 2px solid rgb(240, 84, 84);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: inherit;
}

.indvCard button:hover,
.indvCard button:active {
    background: rgb(169, 169, 169);
    color: rgb(34, 40, 49);
    border: 1.5px solid rgb(34, 40, 49);

    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: inherit;
}
