.mainCard{
    width: 100vw;
    height: auto;
    background-color: rgb(48, 71, 94);
    max-height: auto;
}

.title{
    height: auto;
    text-align: center;
    margin-top: 1rem ;
    padding: 0.5rem 1.5rem;
    border-bottom: 2px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
}

.cards{
    display: flex;
    flex-direction:row ;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
}

.renderDiv{
    color: white;
    text-align: center;
    margin-top: 1rem ;
    padding: 1.5rem 1.5rem;
    font-size: 22px;
}