@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

input{
    height: 1.5rem;
}

.mainCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 40, 49);
    color: rgb(221, 221, 221);
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
}

.inMainCard{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inMainCard label{
    margin-bottom: 1rem ;
}

.mainCard div{
    margin: 1rem 0;
}
